.overflow-hidden {
    overflow: hidden;
}

.msg-layer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(76, 76, 76, 0.7);

    .msg-container {
        box-sizing: border-box;
        width: 346px;
        height: 440px;
        padding: 100px 20px 0 20px;
        background: #fff;

        .msg-showtips {
            display: flex;
            align-items: center;
            height: 23px;
            background: #FFEBEB;
            border: 1px solid #FACCC7;
        }

        .msg-content {
            display: flex;
            height: 40px;
            margin-top: 5px;
            border: 1px solid #BDBDBD;
        }

        .msg-submit {
            margin-top: 30px;
            background: #E3393D;
            line-height: 34px;
            text-align: center;
            font-family: PingFangSC-Regular;
            font-size: 19px;
            color: #FFFFFF;
            cursor: pointer;
        }
    }
}

.error-icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;
    background: #E3393D;
    border-radius: 50%;

    &::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 2px;
        margin-top: 7px;
        margin-left: 3px;
        background: #fff;
    }
}

.error-text {
    margin-left: 11px;
    font-size: 12px;
    color: #E3393D;
}

.phone-icon {
    width: 40px;
    height: 40px;
    background: #F3F3F3 url('//img30.360buyimg.com/uba/jfs/t1/28053/12/8581/216/5c7792bbE5177e310/29ad5a08a8f381ab.png') no-repeat center;
    border-right: 1px solid #BDBDBD;
    cursor: pointer;
}

.phonenum-input {
    text-indent: 10px;
    font-size: 14px;
}

.verification-code-btn {
    flex: auto;
    margin: 1px;
    background: #E3393D;
    color: #fff;
	font-size: 12px;
	
	&.disabled {
		background: #ccc;
	}
}

.msg-bind {
    display: flex;
    margin-top: 10px;
    justify-content: flex-end;
	align-items: center;
	
	a {
		font-family: PingFangSC-Semibold;
		font-weight: bold;
		background: #fff;
		color: #666;
		cursor: default;
	}
}